[submodule "vim-plug"]
  path = vim-plug
  url = https://github.com/junegunn/vim-plug.git
[submodule "vim-pathogen"]
  path = vim-pathogen
  url = https://github.com/tpope/vim-pathogen
[submodule "base16-shell"]
  path = base16-shell
  url = https://github.com/chriskempson/base16-shell
[submodule "zsh-nvm"]
  path = zsh-nvm
  url = https://github.com/lukechilds/zsh-nvm
[submodule "spacemacs"]
  path = spacemacs
  url = https://github.com/syl20bnr/spacemacs
[submodule "pure"]
  path = pure
  url = https://github.com/sindresorhus/pure
[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
