[core]
  eol = lf
  autocrlf = input
[color]
  ui = auto
[advice]
  detachedHead = false

[user]
  name = Tim Seckinger
  email = github@jeys.al

[init]
	defaultBranch = main
[pull]
  rebase = merges
[rebase]
  autosquash = true
[rerere]
  enabled = true

[merge]
  ff = false
  log = true

[branch]
	autoSetupMerge = false
[push]
	autoSetupMerge = simple
	autoSetupRemote = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[url "git@github.com:"]
  insteadOf = "gh:"

[url "git@gitlab.com:"]
  insteadOf = "gl:"

[url "git@bitbucket.org:"]
  insteadOf = "bb:"
