[Unit]
Description=renew Let's Encrypt certificates

[Service]
Type=simple
ExecStart=/usr/bin/certbot renew --standalone
ExecStartPost=/usr/bin/systemctl restart kresd@1
