[Unit]
Description=update ddns
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env curl -s http://sync.afraid.org/u/%i/
