[Unit]
Description=Update ddns
Requires=network-online.target
After=network-online.target

[Timer]
Unit=ddns@%i.service
OnStartupSec=1min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
