[Unit]
Description=Update ddns v6
Requires=network-online.target
After=network-online.target

[Timer]
Unit=ddns6@%i.service
OnStartupSec=1min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
