[Unit]
Description=fix suspension by unbinding xhci_hcd from a device
# device e.g. 0000:03:00.0 in case of error:
# xhci_hcd 0000:03:00.0: WARN: xHC save state timeout

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo -n '%i' >/sys/bus/pci/drivers/xhci_hcd/unbind"
ExecStop=/bin/sh -c "echo -n '%i' >/sys/bus/pci/drivers/xhci_hcd/bind"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
