[Unit]
Description=Lock the system via physlock
Before=sleep.target

[Service]
User=seckinger
ExecStart=/usr/bin/physlock -m
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
