[Unit]
Description=renew Let's Encrypt certificates
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/certbot renew --standalone
ExecStartPost=/usr/bin/bash -c "systemctl list-units --full --all | grep running | grep kresd@1 && systemctl restart kresd@1 || true"
