[Unit]
Description=Update ddns v6
Requires=network-online.target
After=network-online.target

[Timer]
Unit=ddns6@%i.service
OnStartupSec=2min
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target
