[Unit]
Description=Update ddns v6
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env curl -s http://v6.sync.afraid.org/u/%i/
