[Unit]
Description=Update ddns
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env curl -s http://sync.afraid.org/u/%i/
ExecStopPost=/usr/bin/bash -c "[ $EXIT_STATUS -ne 0 ] && systemctl list-units --full --all | grep running | grep systemd-resolved && systemctl restart systemd-networkd || true"
