[Unit]
Description=run nm-system-connections-export weekly

[Timer]
Unit=nm-system-connections-export@%i.service
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
