[Unit]
Description=fetch current stevenblack hosts list periodically and on startup
Requires=network-online.target
After=network-online.target

[Timer]
OnStartupSec=1min
OnUnitActiveSec=24h

[Install]
WantedBy=timers.target
