[Unit]
Description=gdfs mount
Wants=network-online.target

[Service]
Type=oneshot
#ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/gdfs %h/.gdfs_auth %h/gdrive
RemainAfterExit=true
ExecStop=/usr/bin/fusermount -u %h/gdrive
TimeoutSec=10

[Install]
WantedBy=default.target
