[Unit]
Description=fetch all GitHub repos into .github
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/.github
ExecStart=zsh -c "yarn && ./sync.js"
