[Unit]
Description=run github-sync once a week
Requires=network-online.target
After=network-online.target

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
