[Unit]
Description=Lock PulseAudio source volume
After=pipewire-pulse.service

[Service]
Type=simple
Restart=always
RestartSec=1s
ExecStart=/usr/bin/zsh -c "%h/bin/lock-pa-source-volume %I"

[Install]
WantedBy=default.target
