[Unit]
Description=Pause/Resume Syncthing on Metered Connections
After=syncthing.service
BindsTo=syncthing.service

[Service]
Type=simple
ExecStart=%h/bin/nm-metered-syncthing
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
