[Unit]
Description=dump npm global package list into gdrive

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'npm ls -g --depth=0 2>/dev/null >%h/gdrive/tech/misc/npm-global-list/%H.txt'
