[Unit]
Description=Index PhotoPrism originals

[Service]
Type=simple
ExecStart=/usr/bin/env docker compose --project-directory %h/docker/photoprism exec photoprism sh -c "echo Indexing... && photoprism index && echo Converting... && photoprism convert"
