[Unit]
Description=dump trizen package list into gdrive

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'trizen -Qe >%h/gdrive/tech/pkg-list/%H.txt'
