[Unit]
Description=dump pacaur package list into gdrive

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'pacaur -Qe >%h/gdrive/tech/pkg-list/%H.txt'
