[Unit]
Description=Unified Remote Server
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1s
ExecStart=/bin/bash -ic "tail -f /dev/null | /opt/urserver/urserver"

[Install]
WantedBy=default.target
