[Unit]
Description=dump vscode extension list

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'ls %h/.vscode/extensions/ >%h/docs/tech/vscode-ext-list/%H.txt'
