[Unit]
Description=dump vscode extension list into gdrive

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'ls %h/.vscode/extensions/ >%h/gdrive/tech/misc/vscode-ext-list/%H.txt'
