[Unit]
Description=Remote desktop service (VNC)

[Service]
Type=simple
# wait for Xorg started by the user
ExecStartPre=/bin/sh -c 'while ! pgrep -U "%u" Xorg; do sleep 2; done'
ExecStart=/usr/bin/x0vncserver -localhost -SecurityTypes none
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=default.target
